html{
    font-size: 22px
}

.bg-pan-left {
	-webkit-animation: bg-pan-left 8s both;
	        animation: bg-pan-left 8s both;
}


body{
    background-color: #FFF499;
    color: green;
    
}

h1{
    position: static;
    color: green;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
    width: 75%;
  }